.container {
  display: flex;

  justify-content: space-between;
  height: 90vh;
  /* border: 3px solid black; */
  margin: 10px;
  border-radius: 1%;

  position: relative;
}

.logo {
  position: absolute;
  top: 45px;
  left: 30px;

  display: flex;
}

.icon {
  margin-right: 10px;
}

.text {
  font-weight: bold;
}

.leftPanel {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rightPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: appearance 0.7s ease-in-out;
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.motion {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
