.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 90%;

  /* margin: 50px; */

  /* padding-bottom: 100px; */
  /* padding-left: 40px; */
  position: relative;

  /* border: 3px solid black; */
}

.header {
  margin: 25px;
}

.heading {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}

.subHeading {
  font-style: italic;
  font-size: 17px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.input {
  width: 94.1%;
  padding: 15px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form input:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 80px;
}

.form button {
  padding: 15px;
  width: 100%;
  font-weight: bold;
  font-size: large;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginButton {
  background-color: #3e78c5;
  color: #fff;
  margin-bottom: 40px;
}

.signupButton {
  margin-top: 40px;
  background-color: #d5e1f2;
  color: #236ed1;
}

.dividingline {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.line {
  width: 35%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.747);
}
