.container {
  display: flex;
  height: 100vh;
}

.leftPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.rightPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e3c72;
}
