.container {
  display: flex;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
}

.logo {
  display: flex;
}

.icon {
  margin-right: 7px;
}

.text {
  font-weight: bold;
}

.mainPagebtn {
  margin-left: 14px;
}
