.container {
  display: flex;
  align-items: center;

  width: 85%;
  height: 50px;

  color: black;
  background-color: white;
  border: none;

  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;

  margin-bottom: 5px;

  cursor: pointer;

  padding-left: 30px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.container:hover {
  background-color: rgb(33, 55, 223);
  color: white;
}

.container div:first-child {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 20px;
}

.container div:last-child {
}
