.container {
  width: 25vh;

  height: 100vh;

  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.sidebar {
  width: 220px;

  height: 100vh;
  background-color: white;

  /* border-top-right-radius: 1em; */
  border-bottom-right-radius: 1.5em;

  transition: all 0.5s ease-in-out;

  overflow: hidden;
}

.minimized {
  width: 75px;
}

.collapsed {
  width: 0;
}

.sidebarHeader {
  white-space: nowrap;
  margin-left: -6px;
}

.menu {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
}

/* .minimized::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #000;
  margin-right: 0;
  vertical-align: middle;
} */

.arrowbtn {
  font-size: 25px;

  color: white;

  text-shadow: 2px 3px black;

  width: 30px;
  height: 30px;

  background-color: inherit;

  border: none;
  transition: all 0.5s ease;
}

.logout a {
  text-decoration: none;
}

.dividingline {
  width: 82%;
  margin: 15px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.747);
  transition: all 0.8s ease;
}

.dividingline_mini {
  width: 70%;
}
